<div class="container mt-4">
  <h1>Kirchenbingo</h1>
  <h2>Fragebogen:</h2>
  <form [formGroup]="statistik">
    <div class="card p-3 my-3">
      <h4 class="card-title mb-2">
        1. Ist das Gebäude eher stadtprägend, quartierprägend, stadtprägend und
        quartierprägend oder nicht prägend?
      </h4>
      <h6 class="text-muted">
        Erläuterung: Ein stadtprägendes Gebäude liegt zentral und trägt stark zur Stadtidentifikation bei. <br>
        Ein quartierprägendes Gebäude liegt im Zentrum eines Quartiers, oft an einem Platz oder ähnlichen Orten.
      </h6>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" value="cityFormative" formControlName="formative">stadtprägend
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" value="quaterFormative" formControlName="formative">
          quartierprägend
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" value="quaterCityFormative" formControlName="formative">
          stadtprägend und
          quartierprägend
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" value="notFormative" formControlName="formative"> nicht prägend
        </label>
      </div>
    </div>
    <br />
    <div class="card p-3 my-3">
      <h4 class="card-title mb-2">
        2. Gibt es angenzend eine oder meherere der folgenden Funktionen?
      </h4>
      <div formGroupName="anliegendeNutzungen">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" formControlName="schule"> Schule
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" formControlName="altenheim"> Altenheim
          </label>
        </div>
        <div class="form-check">
          <label>
            <input class="form-check-input" type="checkbox" formControlName="schwimmbad"> Schwimmbad
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" formControlName="sportplatz"> Sportplatz
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" formControlName="parken"> versiegelte Freifläche
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" formControlName="industrie"> Industriegebiet
          </label>
        </div>
      </div>
    </div>
    <br />
    <div class="card p-3 my-3">
      <h4 class="card-title mb-2">
        3. Wo befindet der Haupteingang der Kirche?
      </h4>
      <h6 class="text-muted">
        Erläuterung: Der architektonische Haupteingang einer Kirche befindet sich meist an der weltlichen Querseite.
        <br>
        Durch das Trampelpfad-Prinzip bildet sich hin und wieder jedoch ein längsseitiger Haupteingang heraus.
      </h6>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" value="ImWestwerk" formControlName="entrance"> Im Westwerk
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" value="Seitlich" formControlName="entrance"> Seitlich
        </label>
      </div>
    </div>
    <br />
    <div class="card p-3 my-3">
      <h4 class="card-title mb-2">
        4. Um welchen Bautypus handelt es sich bei der Kirche?
      </h4>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" value="Basilika" formControlName="type"> Basilika
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" value="Hallenkirche" formControlName="type"> Hallenkirche
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" value="Saalkirche" formControlName="type"> Saalkirche
        </label>
      </div>
    </div>
    <br />
        <div class="card p-3 my-3">
      <h4 class="card-title mb-2">
        5. Wie groß ist der Hauptraum der Kirche?
      </h4>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" value="Gross" formControlName="size"> Breite: ≥ 15m; Länge ≥ 27m
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" value="Mittel" formControlName="size"> Breite: ≤ 15m, ≥ 8m; Länge ≤ 27m, ≥ 25m
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" value="Klein" formControlName="size"> Breite: ≤ 8m; Länge ≤ 25m
        </label>
      </div>
    </div>
    <br />
    <div class="card p-3 my-3">
      <h4 class="card-title mb-2">
        6. Steht das Gebäude unter Denkmalschutz?
      </h4>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" value="Ja" formControlName="protection"> Ja
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" value="JaAussen" formControlName="protection"> Ja,
          Außengestaltung
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" value="Nein" formControlName="protection"> Nein
        </label>
      </div>
    </div>
    <br />
        <div class="card p-3 my-3">
      <h4 class="card-title mb-2">
        7. Befinden sich im Bodenbereich Gräber oder ist er anderweitig geschützt?
      </h4>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" value="Ja" formControlName="floor"> Ja
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" value="Nein" formControlName="floor"> Nein
        </label>
      </div>
    </div>
    <br />
    <div class="card p-3 my-3">
      <h4 class="card-title mb-2">
        8. In welchem Zustand ist die Bausubstanz des Gebäudes?
      </h4>
      <div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" value="Gut" formControlName="bausubstanz"> Gut
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" value="Schlecht" formControlName="bausubstanz"> Schlecht
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" value="SehrSchlecht" formControlName="bausubstanz"> Sehr
            Schlecht
          </label>
        </div>
      </div>
    </div>
    <br />
    <div class="card p-3 my-3">
      <h4 class="card-title mb-2">
        9. Wie hoch ist der Altersquotient im Quartier in Prozent?
      </h4>
      <div>
        <input class="form-control w-auto" type="number" formControlName="altersquotient" />
      </div>
    </div>
    <br />
    <div class="card p-3 my-3">
      <h4 class="card-title mb-2">
        10. Wie hoch ist der Jugendquotient im Quartier in Prozent?
      </h4>
      <div>
        <input class="form-control w-auto" type="number" formControlName="jugendquotient" />
      </div>
    </div>
    <br />
    <div class="card p-3 my-3">
      <h4 class="card-title mb-2">
        11. Wie hoch ist der Anteil an jungen Erwachsenen (18-25 Jahre) im Quartier in Prozent?
      </h4>
      <div>
        <input class="form-control w-auto" type="number" formControlName="youngAdults" />
      </div>
    </div>
    <br />
    <div class="card p-3 my-3">
      <h4 class="card-title mb-2">
        12. Wie hoch ist der Anteil an SGB-II EmpfängerInnen im Quartier in Prozent?
      </h4>
      <div>
        <input class="form-control w-auto" type="number" formControlName="poverty" />
      </div>
    </div>
    <br />
    <div class="card p-3 my-3">
      <h4 class="card-title mb-2">
        13. Wie hoch ist der Anteil an Menschen, deren Wohndauer weniger als drei Jahre beträgt in Prozent?
      </h4>
      <div>
        <input class="form-control w-auto" type="number" formControlName="stability" />
      </div>
    </div>
    <br />
    <div class="card p-3 my-3">
      <h4 class="card-title mb-2">
        14. Wie hoch ist der Anteil an Menschen mit Migrationshintergrund in Prozent?
      </h4>
      <div>
        <input class="form-control w-auto" type="number" formControlName="migration" />
      </div>
    </div>
    <br />
    <!-- <button type="button" [disabled]="!statistik.valid" (click)="calcUtilizations()">Berechne Nutzungen</button> -->
    <button type="button" class="btn btn-secondary btn-lg" (click)="calcUtilizations()">Berechne Nutzungen</button>
  </form>
  <br>


  @if (utilizationsMain.length > 0) {
  <h2 class="mt-4">Mögliche Nutzungen</h2>
  <br>

  <div class="row g-3">
    <!-- Hauptnutzung -->
    <div class="col-md-6">
      <div class="card p-3 h-100">
        <h3>Hauptnutzung</h3>

        @for (utilization of utilizationsMain; track $index) {
        <p class="mb-1">
          @if (utilization.strike) {
          <s>{{ utilization.label }}</s>
          } @else {
          <span class="badge bg-secondary me-2">
            {{ utilization.prio }}
          </span>
          <span>{{ utilization.label }}</span>
          }

          @if (utilization.secondaryLabel && !utilization.strike) {
          <span class="text-muted">
            (mit Nebennutzung {{ utilization.secondaryLabel }})
          </span>
          }
        </p>
        }
      </div>
    </div>

    <!-- Nebennutzung -->
    @if (utilizationsSecondary.length > 0 && showSecondaryUtilization) {
    <div class="col-md-6">
      <div class="card p-3 h-100">
        <h3>Nebennutzung</h3>

        @for (utilization of utilizationsSecondary; track $index) {
        <p class="mb-1">
          @if (utilization.strike) {
          <s>{{ utilization.label }}</s>
          } @else {
          <span class="badge bg-secondary me-2 ">
            {{ utilization.prio }}
          </span>
          <span>{{ utilization.label }}</span>
          }
        </p>
        }
      </div>
    </div>
    }
  </div>
  }